extends layout

append scripts
  script(src='/js/leap.min.js')
  script
    var OpenROV = {};
    OpenROV.controllers = [];
  script(src='/js/rovctrlr-leap.js')
  script(src='/js/rovctrlr-keyboard.js')
  script(src='/js/main.js')

block content
  .rov-cam

  .collab

  .ctrl-guide
