doctype 5
include includes/html
  head

    include includes/meta
    title= title

    //- Custom styles
    block styles
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/style.css')

    script(src='http://modernizr.com/downloads/modernizr-latest.js')

  body

    include includes/chromeframe-prompt

    block content

    //- Custom scripts
    block scripts
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
      script(src='http://underscorejs.org/underscore-min.js')

    include includes/google-analytics
