extends layout

blo

block content
  .text-center
    ul.list-unstyled
      li
        a(href="/robots")
          h2 Sharky
          p San Francisco
      li
        a(href="/robots")
          h2 Mere cat
          p New York, NY
      li
        a(href="/robots")
          h2 Platapus
          p Seattle, WA
