extends layout

append scripts
  script
    var config = {
      socketHost: '#{socketHost}',
      socketPort: '#{socketPort}'
    };
  script(src='/js/leap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/rovctrlr-leap.js')
  script(src='/js/rovctrlr-keyboard.js')
  script(src='/js/main.js')

block content
  .rov-cam

  .collab

  .ctrl-guide

  .ctrl-choose.text-center
    ul.list-inline
      li
        button.btn.btn-primary.leap
          | Leap Controller
      li
        button.btn.btn-primary.keyboard
          | Keyboard Controller
